{
    "presets": [
      "@babel/preset-react", ["@babel/preset-env", {
        "modules": "commonjs"
      }]
    ],
    "plugins": [
      ["@babel/transform-runtime" ,{
        "regenerator": true,
        "corejs":3,
        "helpers": true
        } ]
  ]
  }
