{
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "react": {
            "createClass": "createReactClass", // Regex for Component Factory to use,
            // default to "createReactClass"
            "pragma": "React", // Pragma to use, default to "React"
            "fragment": "Fragment", // Fragment to use (may be a property of <pragma>), default to "Fragment"
            "version": "detect" // React version. "detect" automatically picks the version you have installed.
            // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
            // default to latest and warns if missing
            // It will default to "detect" in the future
        }
    },
    "plugins": [
        "react",
        "promise"
    ],
    "rules": {
        "semi": "error",
        "indent": ["error", 4],
        "quotes": ["error", "single"],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "block-spacing": ["error"],
        "semi-spacing": ["error", { "before": false, "after": true }],
        "key-spacing": ["error", { "beforeColon": true, "afterColon": true, "align": "colon" }],
        "keyword-spacing": ["error", { "before": true, "after": true }],
        "object-curly-spacing": ["error", "always"],
        "no-unused-vars": ["warn"],
        "no-trailing-spaces": ["error"],
        "comma-dangle": ["error", "always"]
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:promise/recommended"
    ]
}
