/* src/assets/css/app.css */
/* Main CSS stylesheet */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600");

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0px;
  font-size: 16px;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

@media screen and (prefers-color-scheme: light),
screen and (prefers-color-scheme: no-preference) {
  /* Light mode */
  body {
    color: #000;
    background-color: #fff;
  }
}

#app {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

div {
  display: block;
}


::-webkit-scrollbar{
  padding-right: 10px;
  width: 10px;
}
::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 6px;
}

/*MENU STRUCTURE*/
.header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  padding: 10px 20px;
  overflow: hidden;
  background: white;
  line-height: 55px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
  margin-left: 35px;
}
/*MENU END SECTION*/

/*Menu style*/
.header a , i {
  -webkit-app-region: no-drag;
  float: left;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 20px;
}

.header a.logo {
  font-size: 25px;
}

.header a.logo:hover {
  background: transparent;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header i:hover {
  background-color: #ddd;
  color: black;
}

#updaterIcon{
  -webkit-app-region: no-drag;
  float: left;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 20px;
}

#updaterIcon:hover{
  background-color:white;
  color: #000;
}

.updaterAnimation{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
/*Munu Style Section End*/

/*SubMenu structure*/
.subMenuSection{
  width: 250px;
  height: 100%;
  position: fixed;
  top: 55px;
  left: 30px;
  overflow-x: hidden;
  margin-top: 55px;
}
/*SubMenu structure section End*/

/*Sub menu style*/
.subMenuSection a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
  padding: 15px 25px;
  color: black;
  background:#f2f2f2;
  border-radius: 20px;
}

.subMenuSection a:hover{
  background: #ddd;
}

.subMenuSection a.active{
  background: #3840fb;
  color: white;
}
/* Finish submenu style section End */

/*Settings structure*/
.settingsSection{
  display: block;
  margin-bottom: 40px;
}

/*Settings Style*/
.twitchBtn {
  padding: 6px 15px;
  color:white;
  background :#9146ff;
  border-radius: 6px;
  outline: none;
  border:none;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.twitchBtn:hover{
  background: #6441a5
}

.twitchBtn i{
  display: inline;
  padding:0px 10px;
  font-weight: bold;
  color: white;
}

.twitchBtn i p{
  display: inline;
  align-content: center;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

.checkBtn {
  padding: 10px 10px;
  color:black;
  background :#f2f2f2;
  border-radius: 6px;
  outline: none;
  border:none;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.checkBtn:hover{
  background: #ddd
}

.settingsSection select{ 
  background :#f2f2f2;
  padding: 5px 5px;
  outline:none;
  border-radius: 6px;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.settingsSection select option{ 
  background :#f2f2f2;
  outline:none;
  border-radius: 6px;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}


.note{
  font-size: 13px;
  font-weight: bold;
}

.generalSettingsDiv{
  width: 450px;
  margin: 1px 10px;
  display: inline-block;
}

.checkBoxBtn{
  height: 25px;
  width: 25px;
  border-radius: 10px;
  border: solid black;
  background-color: #f2f2f2;
  float: right;
}

.checkBoxBtn:hover{
  background-color: #ddd;
}

.checkBoxBtn:after{
  content: "";
  position: absolute;
  display: none;
}

.checkBoxBtn:checked , .checkBoxBtn:after{
  background-color: grey;
  content: "✓";
}


.checkBoxBtn:before{
  background-color: white;
  content: " ";
}

.settingsSection label{
  font-size: 14px;
}

/*MAIN STRUCTURE*/
.center-panel {
  display: block;
  padding: 24px 50px;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  margin-left: 250px;
}

.misc-section{
  display: block;
  margin-top: 100px;
}

.misc-menu{
  display: inline-flex;
}

/* Main Style*/
.section {
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.genericQuest {
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin: 10px 30px;
}

.doneBtn {
  padding: 10px 15px;
  color: white;
  background: #339933;
  border-radius: 4px;
  outline: none;
  border: none;
}

.doneBtn:hover {
  background-color: #267326;
}



.askPrefix {
  margin: 0px;
  padding: 0px;
  display: inline;
  font-style: italic;
}

.miscHeaderItem{
  margin: 10px 25px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  color: #ddd;
  font-size: 23px;
  font-weight: bold;
}

.miscActive{
  color: #000;
}

/**Modal**/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 400px;
  height: 150px;
  top:50%;
  left:50%;
  border-radius: 10px;
  padding: 10px 10px;
  transform: translate(-50%,-50%);
  justify-items: center;
}

.modalTitle{
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-block-end: 10px;
  margin-block-start: 10px;
}

.modalMessage{
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  justify-content: center;
  margin-top: 2px;
}

.closeBtn {
  margin : 22px 167px;
  padding: 10px 10px;
  color:black;
  background :#f2f2f2;
  border-radius: 6px;
  outline: none;
  border:none;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.closeBtn:hover{
  background: #ddd
}

.display-none{
  display: none;
}

.display-block{
  display: block;
}

/**Account Style**/
.accountImage{
  width: 17%;
  height: auto;
  border-radius: 50%;
  padding: 2px;
  border-color:#3840fb;
  border-style: solid;
  border-width: 2px;
}

.AccountSection{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.center-account-panel{
  display: inline-block;
  padding: 24px 50px;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}

.accountLabel{
  display: block;
  margin-left: 20px;
}

.accountStat{
  margin-left: 50px;
  display: inline-flex;
}

.stat{
  display: block;
  text-align: center;
}

.sepStat{
  height: 27px;
  width: 1px;
  background-color: #ddd;
}

.statInd{
  font-size: 11px;
  color: grey;
}

.statLabel{
  vertical-align: middle;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #000;
  margin : 0px 30px;
}

.pAccountLabel{
  font-size: 18px;
  font-weight: bold;
  margin-block-end: 5px;
  margin-block-start: 7px;
}

.displayName{
  font-size: 16px;
  color: grey;
  margin-block-start: 5px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/**ToolBar**/
.toolBar {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  height: auto; 
  width: 768px;
  margin-left: 30px;
  display: inline-flex;
}

.toolBarLabel{
  font-size: 10px;
  font-weight: bold;
}

.tolBarSeparator{
  font-size: 10px;
  font-weight: bold;
}

.onAirLabel{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.offLineLabel{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: grey;
  font-size: 10px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

/**Channel list**/
.channelItem{
  width: 150px;
  height: auto;
  color:black;
  font-size: 14px;
  background :#ddd;
  border-radius: 10px;
  padding: 4px;
}

.channelList{
  width: 350px;
  height: auto;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

.channelListWrapper{
  display: inline-flex;
  margin:5px 0px;
}

.manageChannel{
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  margin-top: 3px;
  margin-left: 3px;
  padding: 2px;
  font-size: 13px;
}

.managePrefix{
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: 3px;
  margin-left: 3px;
  padding: 5px;
  font-size: 13px;
}

.managePrefix, .manageChannel:hover{
  cursor: pointer;
}

.settingLabel{
  font-size: 14px;
}

.inputSettingText{
  width: 25px;
  text-align: center;
  border-radius: 8px;
  border: solid black;
  border-width: 2px;
  background-color: #ddd;
  outline: none;
  padding: 3px;
}

.inputChannelText{
  margin-left: 5px;
  margin-bottom: 2px;
  text-align: center;
  border-radius: 8px;
  border: solid black;
  border-width: 2px;
  background-color: #ddd;
  outline: none;
  padding: 3px;
}

.inputSettingText:disabled{
  border: solid #f2f2f2;
}

.inputSettingWrapper{
  display: inline-flex;
}

/**Input modal**/
.inputModalHeader{
  width: 400px;
  display: inline-flex;
  justify-content: center;
}

.inputModalBody{
  width: 400px;
  display: inline-flex;
  justify-content: center;
}

.inputBtn{
  margin : 12px 5px;
  padding: 10px 10px;
  color:black;
  background :#f2f2f2;
  border-radius: 6px;
  outline: none;
  border:none;
  font-family: 'Montserrat', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.inputBtn:hover{
  background-color: #ddd;
}

/**Clips list**/
.clipsSection{
  display: inline-flex;
  overflow: hidden;
}

.clipItem{
  display: inline-block;
  margin: 10px;
}

.clipStatLabel{
  margin-block-start: 2px;
  margin-block-end: 2px;
}

.clipItem p i{
  padding: 0px 6px;
}

.clipImgItem{
  width: 380px;
  height: 215px;
  border-radius: 10px;
  border: 2px #000 solid;
}

/**Test**/
section.slideshow{
  width: 80%;
  margin-top: 50px;
}
section.slideshow div.slide-holder{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
section.slideshow section.current-slide{
  width: 380px;
  height: 215px;
  margin: auto 10px;
}
section.slideshow section.previous-slide,
section.slideshow section.next-slide{
  width: 380px;
  height: 215px;
}
section.slideshow section.slide div.slide-thumbnail{
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  filter: rgba(100, 100, 100, 1);
}

.overlay {
  filter: opacity(0.6);
  z-index: 2;
  cursor: pointer;
}

section.slideshow div.slideshow-controller{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.slideshow div.slideshow-controller span{
  padding: 10px;
  width: 100px;
  border: none;
  background: black;
  color: #f5f5f5;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.slideShowController{
  position: fixed;
}

.slideShowController:hover{
  cursor:pointer;
}

.slidePrevious{
  left: 250px;
}
.slideStart{
  right: 0px;
}
@media screen and (prefers-color-scheme: dark) {
  /* Dark moe */
  body {
    color: #fff;
    background-color: #000;
  }
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
}

/*Animation*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }